.template-list .item-list {
  padding: 20px;
  margin-bottom: 20px;
}

/* Base styles for the category list within template list */
.template-list ul.category-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  margin: 0 0 20px;
  padding: 0;
}

.template-list ul.category-list li {
  list-style: none;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: var(--gin-bg-layer, white);
}

/* Tablets (breakpoint at 768px) */
@media (min-width: 768px) {
  .template-list ul.category-list {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
  }
}

/* Desktops (breakpoint at 1024px) */
@media (min-width: 1024px) {
  .template-list ul.category-list {
    grid-template-columns: repeat(4, 1fr); /* 6 columns on large screens */
  }
}

/* Large Desktops (breakpoint at 1400px) */
@media (min-width: 1400px) {
  .template-list ul.category-list {
    grid-template-columns: repeat(6, 1fr); /* 6 columns on large screens */
  }
}

.template-list ul.category-list .contextual {
  display: none;
}

.template-list .content-template .field--name-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.template-list .template-image {
  position: relative;
  min-height: 200px;
}

.template-list .template-image a {
  display: block;
}

.template-list .template-image a.default-image {
  background: url('../images/page.png');
  background-size: cover;
}

.template-list .template-actions {
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
}

.template-list .template-actions a {
  position: relative;
  padding-left: 25px;
  line-height: 25px;
  display: inline-block;
  overflow: hidden;
  text-indent: -9999em;
}

.template-list .template-actions a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  background-size: cover;
}

.template-list .template-actions a.edit-template:before {
  background-image: url('../images/edit.png');
  top: -8px;
  left: -5px;
}

.template-list .template-actions a.clone-template:before {
  background-image: url('../images/clone.png');
  width: 25px;
  height: 25px;
}

